@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --color-primary: #110f86;
  --color-secondary: #eaeb45;
}

body {
  font-family: "Inter", sans-serif;
}

.swiper-pagination-bullet {
  width: 14px;
  height: 14px;
  background-color: white; 
  opacity: 0.7;
  border-radius: 9999px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.swiper-pagination-bullet:hover {
  opacity: 1;
  cursor: pointer;
}

.swiper-pagination-bullet-active {
  width: 18px;
  height: 18px;
  background-color: white; 
  border: 3px solid white; 
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.7);
  opacity: 1;
}

@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}




.animate-shimmer {
  animation: shimmer 1.5s infinite linear;
  background-size: 200% 100%;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.animate-spin {
  animation: spin 1s linear infinite;
}





.btn-primary {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-weight: 600;
  font-size: 0.875rem;
  transition: all 0.3s ease;
  overflow: hidden;
  cursor: pointer;
  background-color: #D30203;
  color: white;
  box-shadow: 0 2px 4px rgba(211, 2, 3, 0.2);
}

.btn-primary:hover {
  background-color: #D30203; /* Slightly darker red */
}

.btn-primary:disabled {
  background-color: #E0E0E0;
  color: #777777;
  cursor: not-allowed;
  box-shadow: none;
}

.btn-primary .btn-icon {
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
}

.btn-primary .hover-overlay {
  position: absolute;
  inset: 0;
  transition: all 0.3s ease;
  background-color: rgba(0,0,0,0);
}

.btn-primary:hover .hover-overlay {
  background-color: rgba(0,0,0,0.1);
}